{% extends "base.html" %}
{% block title %} Generate Token {% endblock %}
{% block body %}

<div class="container">
    <h1>Generate a Token</h1>
    <form action="/token" method="post">
        <label for="password">Password</label>
        <input type="password"
               id="password"
               name="password"
               placeholder="your-secret-password"
               required>

        <label for="duration">Duration (sec)</label>
        <input type="text"
               id="duration"
               name="duration"
               placeholder="3600"
               required>

        <label for="folder">Folder</label>
        <input type="text"
               id="folder"
               name="folder"
               placeholder="foo/bar"
                required>

        <button type="submit" class="button is-link">Submit</button>
    </form>
</div>

{% endblock %}
