{% extends "base.html" %}
{% block title %} Upload Some File(s) {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}

<script src="/static/dropzone-5.7.0/dist/min/dropzone.min.js"></script>
<link rel="stylesheet" href="/static/dropzone-5.7.0/dist/min/dropzone.min.css">

<section class="section">
    <div class="container">
        <h1 class="title">Upload some file(s):</h1>
        <form action="/upload" method="post"
              class="dropzone"
              id="my-dropzone">
            <input class="input" type="hidden" name="token" value="{{ token }}">
        </form>

    </div>
</section>

<script>
Dropzone.options.myDropzone = {
  paramName: "file", // The name that will be used to transfer the file
  maxFilesize: 1024, // MB
  // chunking: true,  // issues
  init: function() {
    this.on("error", function(file, errorMessage, xhr) {
      // $(file.previewElement).find('.dz-error-message').text(response);
      const elem = file.previewElement.getElementsByClassName('dz-error-message')[0];
      elem.innerText = errorMessage.detail;
    });
  }
};
</script>

{% endblock %}
